# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.thumbs.db
*.md
!README.md
*.sh

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.packages
build/
coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Android
android/gradle/wrapper/gradle-wrapper.jar
android/.gradle/
android/captures/
android/app/google-services.json
android/app/key.jks
android/app/keystore.properties

# iOS
ios/Runner/GoogleService-Info.plist
ios/Pods/

# Environment variables
.env
.env.local
.env.production
.env.staging
.env.example
.env copy

# Firebase
firebase_options.dart.bak
lib/firebase_options_dev.dart
lib/firebase_options_prod.dart
android/local.properties
android/key.properties
**/android/**/build/
**/android/**/gradle-wrapper.jar

# iOS / macOS
/ios/.symlinks/
/ios/Pods/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/flutter_assets/
/ios/Flutter/App.framework
/ios/Flutter/Flux.framework
/ios/ServiceDefinitions.json
/macos/Flutter/Generated.xcconfig
/macos/Flutter/ephemeral/

# Xcode
*.mode1v3
*.mode2v3
*.mode3v3
*.pbxuser
*.perspectivev3
xcuserdata/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/
windows/flutter/generated_plugin_registrant.cc

# Web
lib/generated_plugin_registrant.dart
